@{
  Layout="Shared/_Layout.cshtml";
}

<div class="introduction">
  <h2>All of our stylists are skilled in a variety of services.</h2>
  <p>AmyRose Salons hires and trains osme of the most skilled stylists in the city. We're conviently located in every nueghborhood. Book your appointment today. Walk-ins are always welcome!</p>
</div>
@{
  Layout="Shared/_Layout.cshtml";
}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
  @foreach (var stylist in @Model["stylists"])
  {
    @if (@stylist.GetId() == 1)
    {
      <div class="panel-heading" style="background-color:#41738E !important">
        <h4 class="panel-title">
          <p id="@stylist.GetId()"class="stylist">@stylist.GetName()</p>
        </h4>
      </div>
    }
    else if (@stylist.GetId() == 2)
    {
      <div class="panel-heading" style="background-color:#449E6E !important">
        <h4 class="panel-title">
          <p id="@stylist.GetId()"class="stylist">@stylist.GetName()</p>
        </h4>
      </div>
    }
    else if (@stylist.GetId() == 3)
    {
      <div class="panel-heading" style="background-color:#41738E !important">
        <h4 class="panel-title">
          <p id="@stylist.GetId()"class="stylist">@stylist.GetName()</p>
        </h4>
      </div>
    }
    else if (@stylist.GetId() == 4)
    {
      <div class="panel-heading" style="background-color:#449E6E !important">
        <h4 class="panel-title">
          <p id="@stylist.GetId()"class="stylist">@stylist.GetName()</p>
        </h4>
      </div>
    }
  }
